/* Add your custom CSS styles here */
/* For custom fonts, use @font-face to import them */
@font-face {
    font-family: 'Baskvill';
    src: url('../fonts/Nostalgia.otf') format('opentype');
}

@font-face {
    font-family: 'SacredValley';
    src: url('../fonts/Nostalgia.otf') format('opentype');
}

@font-face {
    font-family: 'RetroSignature';
    src: url('../fonts/Nostalgia.otf') format('opentype');
}

@font-face {
    font-family: 'Nostalgia';
    src: url('../fonts/Nostalgia.otf') format('opentype');
}