:root {
    --primary-color: #907967;
    --secondary-color: #dcd5d0;
    --accent-color: #864e37;
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .hidden-xs {
      display: none !important;
    }
  }
  
  /* Small devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .hidden-sm {
      display: none !important;
    }
  }
  
  /* Medium devices (desktops) */
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .hidden-md {
      display: none !important;
    }
  }
  
  /* Large devices (large desktops) */
  @media only screen and (min-width: 993px) {
    .hidden-lg {
      display: none !important;
    }
  }
  

.effect-1 {
    background-color: rgba(0, 0, 0, 0.6);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent {
    color: var(--accent-color);
}


body {
    font-family: 'Nostalgia', sans-serif;
    margin: 0;
    font-weight: lighter;
    color: var(--primary-color);
    letter-spacing: 2px;
}


.header-section {
    position: relative;
    background-image: url('../img/header.jpg');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: top center;
    height: calc(100vh - (78px + 75px));
}

.banner-1 {
    position: relative;
    background-image: url('../img/photo_banner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
}

.banner-2 {
    position: relative;
    background-image: url('../img/photo_banner_2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

.place-photos {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
}

.place-photos img {
    width: 100%;
}

.parents {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    text-align: center;
}

.parents ul {
    padding-inline-start: 0px;
    list-style-type: none;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;


}

.fx-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fx-wrap {
    flex-wrap: wrap;
}

.fx-flex {
    flex: 1;
}

.fx-column {

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
}

.fx-space-between {
    justify-content: space-between;
}

.fx-start {
    box-sizing: border-box;
    place-content: flex-start;
    align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: lighter;
    margin: 0;
}

.tagline {
    font-size: 1.5625rem;
}

.title-1 {
    font-size: 1.5625rem;
}

.title-2 {
    font-size: 1.375rem;
}



.superindice {
    font-size: 0.5em;
    /* Ajusta el tamaño según tus preferencias */
    vertical-align: text-top;
}

.ml-10 {
    margin-left: 1.9375rem;
}



.countdown-section {
    text-align: center;
    min-width: 300px;
}

.border-top {
    border-top: 1px solid white;
}

.border-bottom {
    border-bottom: 1px solid white;
}


.inner-space {
    padding: 1.25rem 0;
}

.section-tone-1 {
    color: white;
    background-color: var(--primary-color);
}

.section-tone-3 {
    color: white;
    background-color: var(--accent-color);
}

.section-tone-2 {
    background-color: var(--secondary-color);
}

#weddingDate {
    font-size: 1.5rem;
}

.font-retro {
    font-family: 'Nostalgia', sans-serif;
    line-height: 1rem;
}

.counter-text {
    font-family: 'Nostalgia';
    font-size: 2rem;
    padding: 0 1rem;
    line-height: 1.9rem;
}

.story-section .story-title {
    margin: 0 1rem;
}

.story-section .story-title,
.story-section .story-text,
.story-section .story-image {
    padding-top: 2rem;
}

.container p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.story-title {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end;
    align-items: center;
}


.story-image {
    max-width: 18.75rem;
}

.story-text {
    text-align: justify;
}


.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.effect {
    opacity: 1;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.photo img {
    width: 100%;
    height: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#fullImage {
    max-width: 80%;
    max-height: 80%;
}


.photo-carousel {
    overflow-x: auto;
    white-space: nowrap;
}

.photo-wrapper {
    display: inline-flex;
    transition: transform 0.5s ease-out;
}


.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100vw;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    background-color: #ddd;
}




.names {
    font-size: 2.8rem;
    display: inline-block;
    font-family: 'SacredValley', sans-serif;
    margin: 0.5rem 0;
}

.text-shadow {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

}

.story-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.rsvp-content {
    font-family: 'SacredValley', sans-serif;
    padding: 1rem 2rem;

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

    gap: 1rem;
}

.rsvp-section {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    text-align: center;
}

.rsvp-title {
    font-size: 2rem;
}

.rsvp-text {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    max-width: 100%;
    text-align: center;
    gap: 1rem;
    min-width: 216px;
}

.rsvp-address {
    font-size: 1.9rem;
    line-height: 2rem;
}

.rsvp-hour {
    font-size: 1.78rem;
    padding: 0.625rem 0;
}

.rsvp-button {
    margin: 0.5rem 0;
}

.rsvp-button a {
    text-decoration: none;
    color: var(--secondary-color);
}

.rsvp-image {
    text-align: center;
}

.rsvp-image img {
    max-width: 100px;
}



.gift-section {
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    align-items: stretch;
    max-width: 100%;
    gap: 2rem;
}

.gift-section .gift-options {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    gap: 2rem;
}

.gift-option {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 1rem;
}

.gift-option .gift-option-title {
    font-size: 1.59rem;
    text-transform: uppercase;
}

.gift-option .gift-option-name {
    font-size: 1.4rem;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

}


.gift-section a {
    text-decoration: none;
    color: var(--accent-color);
}

.gift-section p {
    text-align: center;

}

.h-greca,
.h-separator {
    min-width: 100px;
    width: 40%;
    border: 0.062rem solid var(--accent-color);
    border-right: none;
    border-left: none;
}

.h-greca.white,
.h-separator.white {
    border-color: white;
}

.white {
    color: white;
}

.v-separator {
    height: 18.75rem;
    border: 0.0625rem solid var(--accent-color);
}

.gift-option {
    min-width: 17.375rem;
}

.gift-option img {
    max-width: 11.25rem;
}


.confirmation-section {
    position: relative;
    background-image: url('../img/confirmation.jpg');
    background-size: 185%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    height: 25rem;
}

.confirmation-section .overlay {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, .66);
    text-align: center;
}

.pill {
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: #fff;
    /* border-radius: 1.5625rem; */
    cursor: pointer;
    font-family: 'Nostalgia';
    /* font-size: 2.5rem; */
    text-decoration: none;
    letter-spacing: 2px;
}

.pill-small {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.parallax-container .pill {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}


.hotels-section {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

.hotels-section .icon {
    width: 80px;
    margin: 1rem 0;
}

.hotels-section .hotel-items {
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.625rem;
}

.grid-item {
    padding: 1.25rem;
    text-align: center;
}

footer {
    text-align: center;
}

.center {
    text-align: center;
}

.phrase {

    position: relative;
    background-image: url('../img/confirmation.jpg');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: top center;
    height: calc(100vh - (78px + 75px));
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax-container .parallax img {
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/* Extra small devices (phones, portrait) */
@media only screen and (max-width: 767px) {

    /* CSS for phones in portrait mode */
    .h-separator {
        display: block;
    }

    .v-separator {
        display: none;
    }

    .br {
        display: none;
    }
}


/* Extra small devices (phones, landscape) */
@media only screen and (min-width: 768px) and (max-width: 991px) {



    /* CSS for phones in landscape mode */
    .header-section {
        background-size: cover;
        background-size: 116%;
        background-position-y: -12.5rem;
    }

    .parents-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .great-phrase {
        font-size: 2rem;
    }

    .place-photos {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
    }

    .place-photos img {
        width: 50%;
    }

    .names {
        font-size: 3.1rem;
        display: inline-block;
        line-height: 2.1875rem;
    }

    .tagline {
        font-size: 2rem;
    }





    .rsvp-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-around;
        align-items: flex-start;
    }



    .hotels-section .hotel-items {

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-flow: wrap;
        gap: 2rem
    }

    .hotels-section .hotel-items p {
        min-height: 2.25rem;
    }

}

/* Small devices (tablets) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* CSS for tablets */
    .header-section {
        background-size: cover;
        background-size: 116%;
        background-position-y: -30rem;
    }

    .parents-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-evenly;
        align-items: center;
        gap: 1rem;
    }
    .banner-1, .banner-2 {
        background-position-y: -40rem;
    }

    .phrase {
        background-position-y: -30rem;
    }

    .great-phrase {
        font-size: 2rem;
    }

    .place-photos {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
    }

    .place-photos img {
        width: 50%;
    }

    .names {
        font-size: 3.1rem;
        display: inline-block;
        line-height: 2.1875rem;
    }

    .tagline {
        font-size: 2rem;
    }

    .rsvp-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-around;
        align-items: flex-start;
    }

    .hotels-section .hotel-items {

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-flow: wrap;
        gap: 2rem
    }

    .hotels-section .hotel-items p {
        min-height: 2.25rem;
    }
}

/* Medium devices (small PCs and desktops) */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    /* CSS for small PCs/desktops */

    .header-section {
        background-size: cover;
        background-size: 116%;
        background-position-y: -30rem;
    }

    .parents-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-evenly;
        align-items: center;
        gap: 1rem;
    }
    .banner-1, .banner-2 {
        background-position-y: -40rem;
    }

    .phrase {
        background-position-y: -50rem;
    }

    .great-phrase {
        font-size: 2rem;
    }

    .place-photos {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
    }

    .place-photos img {
        width: 50%;
    }

    .names {
        font-size: 3.1rem;
        display: inline-block;
        line-height: 2.1875rem;
    }

    .tagline {
        font-size: 2rem;
    }

    .rsvp-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-around;
        align-items: flex-start;
    }

    .hotels-section .hotel-items {

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-flow: wrap;
        gap: 2rem
    }

    .hotels-section .hotel-items p {
        min-height: 2.25rem;
    }

}

/* Large devices (large PCs and desktops) */
@media only screen and (min-width: 1600px) {

    /* CSS for large PCs/desktops */
    .header-section {
        background-size: cover;
        background-size: 116%;
        background-position-y: -30rem;
    }

    .parents-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-evenly;
        align-items: center;
        gap: 1rem;
    }
    .banner-1, .banner-2 {
        background-position-y: -40rem;

    }

    .phrase {
        background-position-y: -30rem;
    }

    .great-phrase {
        font-size: 2rem;
    }

    .place-photos {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
    }

    .place-photos img {
        width: 50%;
    }

    .names {
        font-size: 3.1rem;
        display: inline-block;
        line-height: 2.1875rem;
    }

    .tagline {
        font-size: 2rem;
    }

    .rsvp-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-around;
        align-items: flex-start;
    }

    .hotels-section .hotel-items {

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-flow: wrap;
        gap: 2rem
    }

    .hotels-section .hotel-items p {
        min-height: 2.25rem;
    }
}

/* Large devices (large PCs and desktops) */
@media only screen and (min-width: 2400px) {

    /* CSS for large PCs/desktops */
    .header-section {
        background-size: cover;
        background-size: 116%;
        background-position-y: -30rem;
    }

    .parents-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-evenly;
        align-items: center;
        gap: 1rem;
    }
    .banner-1, .banner-2 {
        background-position-y: -40rem;

    }

    .phrase {
        background-position-y: -30rem;
    }

    .great-phrase {
        font-size: 2rem;
    }

    .place-photos {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start center;
        align-items: flex-start;
    }

    .place-photos img {
        width: 50%;
    }

    .names {
        font-size: 3.1rem;
        display: inline-block;
        line-height: 2.1875rem;
    }

    .tagline {
        font-size: 2rem;
    }

    .rsvp-content {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-around;
        align-items: flex-start;
    }

    .hotels-section .hotel-items {

        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-flow: wrap;
        gap: 2rem
    }

    .hotels-section .hotel-items p {
        min-height: 2.25rem;
    }
}


/* Styles for screens greater than mobile */
@media only screen and (min-width: 768px) {

    /* Add your styles here */
    .h-separator {
        display: none;
    }

    .v-separator {
        display: block;
    }
}